.input-check-contenedor, 
.input-check-contenedor-disabled,
.input-check-contenedor::before,
.input-check-contenedor-disabled::before{
	font-family: 'FontAwesome';
	font-size: .8em;
	font-weight: 100;
	content: "\f00c";
	padding: 0 .1em;
}

.input-check-contenedor, 
.input-check-contenedor-disabled{
	margin-right: .25em;
}

.input-check-contenedor,
.input-check-contenedor-disabled,
.input-check-contenedor:active,
.input-check-contenedor-disabled:active{
	border-radius: .25em;
	border: solid 1px white !important;
}

.input-check-contenedor{
	color: white;
	background-color:#0066ac;
	box-shadow: 0 3px 5px rgba(0,0,0,.25);
	border: none;
}

.input-check-contenedor-disabled{
	color: rgba(254, 10, 91, 0);
}

.input-check-contenedor:active{
	box-shadow: inset 0 0 .25em rgba(0,0,0,.3);
	text-shadow: unset;
}

.input-check-contenedor-disabled:active{
	box-shadow: inset 0 0 .25em rgba(0,0,0,.2);
}

.input-check-contenedor:focus,
.input-check-contenedor-disabled:focus{
	background: red;
}