.t-contenedor{
    display: flex;
    flex-direction: column;
}

.table{
    margin-top: 1em;
    width: 100%;
}

.t-titulo{
    padding: .65em;
    margin: 0;
    border-top-right-radius: .65em;
    border-top-left-radius: .65em;
    border:none;
    background: rgba(123, 133, 139);
}

.table th{
    font-weight: 600;
}

.t-cantidad-contenedor{
    width: 7em !important;
    height: 1px;
}

    @-moz-document url-prefix() {
        .t-cantidad-contenedor{
            height: unset;
            min-height: 1px;
        }
    }

.t-cantidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}

    .t-descripcion textarea,
    .t-cantidad input{
        width: 100% !important;
        vertical-align: center;
        font-size: .9em;
        border: none;
        background: transparent;
        overflow: hidden;
    }

    .t-descripcion textarea{
       height: 100%;
    }

    .t-cantidad input{
        margin-right: 1em;
    }


.agregar{
    border: none;
    border-radius: 50%;
    margin: 1em .4em 0 0;
    align-self: flex-end;
}

    .agregar i{
        font-size: 20pt;
    }

.remover{
    border: none;
    padding: 0;
}

    .remover i{
        font-size: 14pt;
    }

@media (max-width: 500px){
    .t-cantidad-contenedor{
        width: 3em !important;
    }

    .t-descripcion textarea,
    .t-cantidad input{
        font-size: .8em;
    }

}