.textarea{
    margin-top: .8em;
    border-radius: .65em;
    background-color: rgba(255,255,255,0);
    padding: .8em;
    border: var(--border-size);
    border-color: var(--border-color) !important;
    color: #FFF;
    border: solid 1px white;
    font-size: 1em;
}
.textarea::placeholder{
    color: rgba(255,255,255,.8);
}

.textarea:active{
    border-color: var(--border-color) !important;
}

@media (max-width: 320px){
    .textarea{
        margin-top: .25em;
    }
}