.main-nav{
    display: flex;
    justify-content: flex-start;
 
}

.main-nav-boton, .main-nav-inactivo{
	padding: .5em;
	border:0;
	border-radius: .25em;
	margin-right: 1em;
	cursor:pointer;
	text-align: left;
}

.main-nav-boton-inactivo{
	font-size:1em;
	color:#3f3245;
	margin-right:1.5em;
}

.main-nav-boton{
	font-size:1em;
	color: white;
	background:linear-gradient(0.45turn, #FAAD70, #EB6B85);
	box-shadow: 0 2px .1em rgba(0,0,0,.3);
}