.proximos-eventos{
    display: inline-block;
}

.listado-eventos{
	display: table;
	width: 40em;
	margin: auto;
	text-align: left;
}

.tabla-titulo{
	margin-bottom:.8em;
}

.evento{
	display: table-row;
}

.sombra{
	display: table-row;
	height: .1em;
	box-shadow: 0 .06em .1em rgba(255,255,255,.2);
}

.evento-info, .evento-icono{
	padding:.7em 0;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.evento-icono{
font-size: 1.5em;
text-shadow: 0 .07em .09em rgba(0,0,0,.3)
}

.evento-titulo, .evento-fecha, .evento-ubicacion, .evento-icono{
	color: rgb(200,200,200);
}

.evento-titulo{
	font-size: 1.5em;
}

.evento-fecha{
	font-size: 1em;
}

.evento-ubicacion{
	font-size: .9em;
}

.fa-facebook-square{
	color: rgb(59,89,152);
}