/*Tarjeta perfil
=========================
*/

.tarjeta-perfil {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    max-width: 100vw;
    border-radius: 16px;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}

/*Foto de perfil
=========================
*/

.foto-perfil{
    width: 16em;
    height: 16em;
    margin-right: 2em;
    margin-left: 6em;
    border-radius: 360px;    
    background-image: url('http://nicolasperezphotography.com/img/galerias/88/180315AM-0026-Diego-Peretti_1.jpg');
    background-repeat: no-repeat;
    background-size: 16em;
    background-position: 0 -1em;
    transition: 250ms ease;
    box-shadow: 0 0 1em rgba(0,0,0,0.8);
}
.foto-perfil p {
    opacity: 0;
    animation: 250ms ease;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.foto-perfil:hover {
    opacity: .5;
    cursor: pointer;
}

.foto-perfil:hover p {
    opacity: 1;
}

/*Cabecera
(Contiene al nombre de usuraio, las etiquetas.
las estadísticas y los botones)
=========================
*/


.cabecera{
    display:inline-block;
    margin: 0;
    padding:0;
    vertical-align:top;
    text-align: left;
}

/*Nombre de usuario
=========================
*/

.nombre-de-usuario{
    margin-bottom: .1em;
    color: rgb(255,255,255);
    font-family: Roboto, sans-serif;
    font-size: 2.5em;
    text-shadow: .05em .05em .1em rgba(0,0,0,.5);
}

/*estadisticas
(Contiene a *cifra y *leyenda)
=========================
*/

.estadisticas ul li{
    display: inline-block;
    width: 30%;
    height: inherit;
    margin-bottom: .5em;
}


.estadisticas .cifra, .estadisticas .leyenda{
    width: 30%;
    text-align: justify;
    text-justify: inter-word;
}

.estadisticas .cifra{
    font-size: 1em;
    font-weight: 600;
}

.estadisticas .leyenda{
    font-size:.35em;
}

/*Etiquetas
=========================
*/

.lista-etiquetas{
    margin-top: .5em;
}

.etiqueta, .etiqueta-puntos-suspensivos{
    width: inherit;
    height: 1em;
    margin:0 .25em;
    padding: .55em 1em;
    display: inline-block;
    background:linear-gradient(0.25turn, #FAAD70, #EB6B85);
    font-size: .7em;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-radius: 1em;
    box-shadow: .1em .1em .3em rgba(0,0,0,0.8);
}


/*Esto es para que solo despliegue
las primeras 5 etiquetas
(cinco incluyendo la de puntos suspendivos)
================================================
*/
.etiqueta:nth-child(n+4){
        display: none;
}
.etiqueta-puntos-suspensivos{
    width: 2em;
    display: inline-block;
    text-align: center;
}
/*==============================================
*/

/*Botones
=========================
*/

.perfil-botonera{
    display: inline-block;
    margin:1em 0;
    padding: 0;
}

.perfil-boton {
    width: 9.7em;
    margin: 0 .5em;
    padding:.6em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border:none;
    border-radius: 2em;
    color: white;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.perfil-boton:active, .etiqueta-puntos-suspensivos:active{
    box-shadow: inset 0 0 5em rgba(255,255,255,.5);
    text-shadow: none;
    }


/*Mediaquerys
=========================
*/


@media (max-width: 687px) {
    .etiqueta, .etiqueta-puntos-suspensivos{
        padding: .55em 1em;
        font-size: .7em;
        box-shadow: .1em .1em .3em rgba(0,0,0,0.6);
    }
}

@media (max-width: 558px) {
    .etiqueta, .etiqueta-puntos-suspensivos{
        padding: .55em 1em;
        font-size: .55em;
        box-shadow: .1em .1em .3em rgba(0,0,0,0.6);
    }
}


@media (max-width: 500px) {

    .tarjeta-perfil {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background:none;
        border-radius: 0;
        }

    .tarjeta-perfil .cabecera{
        width: 100%;
        position: absolute;
        left: .5em;
        bottom: .5em;
    }

    .tarjeta-perfil .foto-perfil{
        width: 100%;
        height: 70%;
        margin: 0;
        margin-bottom:0;
        border-radius: 0;
        background-size: 22.5em;
        box-shadow: inset 0 -5em 6em rgba(0,0,0,.8), 0 0 1em rgba(0,0,0,1);
    }

    .foto-perfil p {
    display:none;
    }

    .foto-perfil:hover {
        opacity:1;
    }

    .nombre-de-usuario{
        display: unset;
        margin: 0;
        font-size: 2.1em;
    }

    .estadisticas .cifra{
        font-size: .8em;
        font-weight: 300;
    }
    
    .lista-etiquetas{
        margin:unset;
    }

    .perfil-botonera{
        margin: 0 auto;
    }

    .perfil-botonera .perfil-boton{
        width:8em;
        margin: 3em;
    }

}

@media (max-width: 375px) {

    .perfil-botonera .perfil-boton{
        width:8em;
        margin: .7em;
    }

}



@media (max-width: 320px) {

    .foto-perfil{
        width: 100%;
        height: 75%;
        background-position: -2.2em 0;
    }

    .perfil-boton{
        width: 9em;
        margin: 0 1.3em;
    }

    .cabecera{
        bottom:-1.7em;
    }

}