.tarjeta-cuerpo{
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-basis: 43em;
}

.tarjeta-imagen{
	width: 100%;
}

.tarjeta-titulo{
	margin-bottom: .5em;
	font-size: 1.5em;
	font-weight: 400;
}

	.tarjeta-titulo i{
		margin-right: .5em;
		font-weight: 100;
	}

.info-distancia, .info-espacioyfecha{
	padding: .5em;
}

.info-distancia{
	font-size: .8em;
	background: rgba(255,8,130,.8);
	text-transform: uppercase;
}

.info-espacioyfecha{
	background: rgba(235,4,100,.8);
	font-size: 1.5em;
}

.info-descripcion{
	font-weight: 100;
	background: rgba(19,205,203,.8);
	padding: .5em;
	margin: 0;
}

@media (max-width: 500px) {
	.tarjeta-titulo{
		font-size: 1em;
	}

	.info-espacioyfecha{
		font-size: 1em;
	}
}
