.input-file-contenedor{
	margin: 3em;
}
.input-file {
    background: #eaeaee;
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
    border: solid .3em #eaeaee;
}

.input-file-texto, .fa-arrow-alt-circle-up{
	font-size: .9em;
}

.input-file, .input-file-texto{
	color:#3f3245;
}

.input-file-texto{
	font-weight: 400;
}

.fa-arrow-alt-circle-up{
	margin-right: .5em;
}

@media (max-width: 500px) {
	.input-file, .input-file-contenedor{
		margin: .75em;
		padding: 0;
		min-width: 100%;
	}
	.input-file{
		padding: 0 1em;
	}

	.input-file-texto, .fa-arrow-alt-circle-up{
		font-size: .8em;
	}
	.input-file-texto{
		font-weight: 700;
	}
}