.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: .65em;
    background-image: linear-gradient(135deg, #04a5f0, #023c75);
    padding: .8em;
    color:rgba(255,255,255,.9);
    font-size: .9em;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
}

.boton[desplegable="1"]{
    justify-content: space-between !important;
}

.icono-desp{
    display: none;
}

.icono-desp[desplegable="1"]{
    display: unset;
}
