:root{
    --margin-top: .8em;
    --margin-top-doble: 1.2em;
    --margin-top-movil: .25em;
    --margin-top-movil-doble: .8em;
}

.input-contenedor{
    display: flex;
    flex-wrap: nowrap;
    margin-top: var(--margin-top);
    border: solid 1px rgba(255,255,255,.8);
    border-radius: .65em;
}

    .input-contenedor[type="submit"]{
        margin-top: var(--margin-top-doble);
        border: none;
        box-shadow: 0 3px 5px rgba(0,0,0,.25);
    }

.input{
    flex: 1 1 auto;
    padding: .8em;
    background-color: rgba(255,255,255,0);
    border: none;
    color: #FFF;
    font-size: .9em;
}

.input::placeholder{
    color: rgba(255,255,255,.8);
}

.input[type="submit"]{
    border-radius: .65em;
    background-image: linear-gradient(135deg, #04a5f0, #023c75);
    color:rgba(255,255,255,.9);
}

.input-contenedor[type="date"] .label{
    display: unset;
    font-size: .9em;
    color: rgba(255,255,255,.8);
}

.label{
    display: none;
    flex: ;
    padding: .5em 0 .5em .8em;
}

.icono{
    display: none;
    padding: 0 .8em;
    border-left: none;
    color: inherit;
}

    .icono i{
        font-size: 1.3em;
    }

.input[type="search"]~.icono{
    display: unset;
}

@media (max-width: 320px){
    .input-contenedor{
        margin-top: var(--margin-top-movil);
    }

    .input-contenedor[type="submit"]{
        margin-top: var(--margin-top-movil-doble);
    }

    .input{
        padding: .5em;
    }
}