
.abm{
	min-height: 100vh;
	background:linear-gradient(0.45turn, #FAAD70, #EB6B85);
	width:100vw;
}

/*
===================================
Grilla de los distintos abm
===================================
*/
.usuario-abm{
	display: grid;
	grid-template-columns: 1fr 35em 1fr;
}

.evento-abm{
	display: grid;
	grid-template-columns: 1em 10fr 1fr;
}

/*
===================================
Tarjeta
===================================
*/

/*Conenedor de tarjetas (ct) general*/

.contenedor-tarjetas{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	animation: aparicion 1s ease;
}

	/*Conenedor de tarjetas (ct) por abm*/

	.ct-usuario, .ct-evento{
		grid-column: 2 /  3;
	}

.abm-seccion{
	margin-top: 1em;
	border-radius: 1em;	
	box-shadow: 0 .5em 1.5em rgba(0,0,0,.25);
	transition: 75ms ease;
}

.abm-seccion-cabecera{
	padding: 1em 3em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-image: linear-gradient(250deg, #485461 0%, #28313b 74%);
}

	.abm-seccion-cabecera h1{
		text-align: left;
		font-size: 1.4em;
		font-weight: 400;
	}

.abm-seccion-cuerpo{
	padding: .5em 3em 1.5em 3em;
	background: white;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.abm-seccion-cuerpo *{
	color: #3f3245;
}
	.abm-seccion-cuerpo h2, .abm-seccion-cuerpo h3{
		text-align: left;
	}

	.abm-seccion-cuerpo h3{
		font-weight: 400;
		font-size: 1em;
	}

	.abm-seccion-cuerpo label{
		font-size:1.4em;
		font-weight: 400;
		opacity: .8;
		margin: .85em 0 .5em 0;
	}

	.abm-seccion-cuerpo textarea{
		padding: 1em;
		border: solid 1px rgba(0,0,0,.3);
		border-radius: 1em;
		height: 6em;
	}

.abm-input, .abm-seccion-cuerpo textarea{
	font-size: .85em;
	font-weight: 400;
	color: #3f3245;
	border-bottom: 1px solid black;
	border-color: rgba(0,0,0,.3);
	transition: 18ms ease;
}

	.abm-input::placeholder,
	input[type="date"]::placeholder,
	textarea::placeholder{
		color: rgba(0,0,0,.7);
	}

	input[type="date"]{
		font-size: 1.5em;
	}


.abm-boton{
	min-width: 100%;
}

/*=============================
	Elementos particulares
===============================
*/

/*EventoAbm - abm de eventos*/

.evento-abm-titulo{
	width: 100%;
	font-weight: 700 !important;
}

.evento-abm-fechas, .evento-abm-horario{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

	.fecha-elemento, .horario-elemento{
		width: 50%;
		text-align: left;
	}

.evento-abm-dias{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
		.evento-abm-dias label{
			font-size: 1.3em;
		}

.evento-abm-fechas, 
.evento-abm-dias, 
.evento-abm-horario{
	margin-top: 1.5em;
}
/*
===================================
Indicador de pantalla
===================================
*/

.indicador-pantalla-actual {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
}

.circulo {
	color: gray;
	margin-right: 1.5em;
}

.circuloActivo {
	color: white;
	margin-right: 1.5em;
	animation: inicioCirculo .5s ease;
}

/*
===================================
Animaciones - Keyframes
===================================
*/

@keyframes aparicion {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes inicioCirculo {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

/*
===================================
Mediaquerys - Media querys
===================================
*/

@media (max-width: 600px) {
	
	.abm{
		grid-template-columns: 1fr 30em 1fr;
	}
}

@media (max-width: 500px) {
	body{
		padding: unset;
	}

	.abm{
		grid-template-columns: unset;
		grid-template-rows: unset;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

	.usuario-abm, .evento-abm{
		display: flex;
		grid-template-columns: unset;
	}

	.evento-abm{
		width: 100vw;
	}

	.indicador-pantalla-actual{
		margin-top: 2em;
	}

	.contenedor-tarjetas{
		grid-column: unset;
		padding:0;
		min-width: 20em;
		max-width: 89%;
	}

	.circulo, .circuloActivo{
		font-size: .5em;
	}

	.abm-seccion-cabecera{
		padding: .5em 1.7em;
	}
	
		.abm-seccion-cabecera h1{
			font-weight: 100;
		}

	.abm-seccion[name=seccion4]{
		margin-bottom:16vh;
	}

	.abm-seccion[name=seccion2]{
		width: 85vw;
	}

	.abm-seccion-cuerpo{
		padding: .5em 1.7em;
	}

		.abm-seccion-cuerpo label{
			font-size: 1.2em;
		}

		.abm-seccion-cuerpo h2{
			font-size: 1.3em;
		}
		
		.abm-seccion-cuerpo h3{
			font-size: .85em;
			padding: 0;
			margin: 0;
		}

	.abm-input{
		margin:unset;
		font-size: .85em;
	}

		.abm-input:focus{
			font-size: .85em;
			margin-b: unset;
		}

		.abm-input::placeholder{
			font-weight: 100;
			color: rgba(0,0,0,.5);
		}

}

@media (max-width: 321px) {

	.tarjetas-registro-abm{
		min-width: 18em;
		max-width: 89%;
	}

	.indicador-pantalla-actual{
		margin: 0;
		margin-top: 1.25em;
		padding: 0;
	}

	.abm-seccion-cabecera{
		padding: .5em 1.7em;
	}

		.abm-seccion-cabecera h1{
			font-size: 1em;
			font-weight: 400;
		}

	.abm-seccion-cuerpo{
		padding: .5em 1.7em;
	}

		.abm-seccion-cuerpo label{
			font-weight: 400;
			font-size: .85em;
		}

		.abm-seccion-cuerpo h2{
			font-size: 1em;
		}
		
		.abm-seccion-cuerpo h3{
			font-size: .85em;
			padding: 0;
			margin: 0;
		}
}


.elemento-temporal{
	color: black;
	background-color: #eaeaee;
	font-size: 1em;
	font-weight: 100;
	border-radius: .5em;
	padding: .5em;
	margin: .5em;
}