:root{
    --chat-columns: 1.75fr 3fr 1.25fr;
    
    --header-heigh: 4em;

    --background-light: rgba(255, 255, 255, 0.062);
}

.chatRoom{
    display: grid;
    grid-template-columns: var(--chat-columns);
}
  
.chatSection {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

    .chatSection header nav{
        display: flex;
        justify-content: space-around;
        margin: 1em 1em 0 1em;
    }

        .chatSection header nav label{
            margin-right: 1em;
            font-size: 10pt;
            font-weight: 600;
        }

.scrollableContent {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
}

    .scrollableContent::-webkit-scrollbar{
       display: none;
    }

.chatList{
    grid-column: 1 / 2;
}

    .searchBar{
        margin: 1em;
    }