/*============= Elementos básicos =============*/

body {
	background-color: #ececeb;
	overflow: hidden;	
}

body, div, li, span, p, input{
	font-family: roboto, sans-serif;
	font-weight: 400;
	color: rgb(255,255,255);
}

button{
	width: inherit;
	height: inherit;
	margin:0;
	padding:0;
	background: none;
	border: none;
}

	button:active div, input:active{
		box-shadow: inset 0 -100em 100em rgba(255,255,255,.3);
	}

	button:active, button:active i{
		text-shadow: inset 0 0 0 rgba(255,255,255,1);
	}

html, body, .homescreen {
    overflow-x: hidden;
}

a{
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

input, input:active, button, button:active, a{
    outline: none !important;
    -moz-outline:none !important;
}

input{
	border: none;
}

h1, h2, h3, h4, ul{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type:none;
}

form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

label{
	text-align: left;
}


/*Elementos comunes*/
.solo-en-moviles{
	display: none;
}

.form-boton{
    padding: 1em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 2em;
    color: rgba(255,255,255,.8);
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 .1em .3em rgba(0,0,0,.3);
}

/*============= Iconos de FontAwesome a medida =============*/

/*Facebook*/
.fa-facebook-square{
	background: -webkit-linear-gradient(0.2turn, #3B5998, #6582BE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Twitter*/
.fa-twitter-square{
	background: -webkit-linear-gradient(0.2turn, #00ACEE, #42CBFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Instagram*/
.fa-instagram{
	background: -webkit-linear-gradient(0.2turn, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Spotify*/
.fa-spotify{
	background: -webkit-linear-gradient(1turn, #1ED761, #36e374);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: .05em 0 0 0;
	font-size: .92em;
}

/*Soundcloud*/
.fa-soundcloud{
	background: -webkit-linear-gradient(#FF9533, #FF4137);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: .7em;
}


/*============= Mediaquerys =============*/

@media (max-width: 500px) {

	/*body{
		padding-bottom: 8vh;
	}*/

	/*Para remover el cuadro azul al tocar 
	un link en Chrome pero solo lo tengan 
	los elementos con la clase "boton"*/
	a, div, button, input{
		-webkit-tap-highlight-color:rgba(255,255,255,0);
		-moz-tap-highlight-color:rgba(255,255,255,0);
	}

	/*Para desplegar elementos solo en 
	pantallas menores a 500px"*/

	.solo-en-moviles{
		display: unset;
	}
	
	/*Para ocultar elementos solo en 
	pantallas menores a 500px"*/
	.ocultar-en-moviles, 
	.ocultar-en-moviles::before, 
	.ocultar-en-moviles::after, 
	.ocultar-en-moviles:focus,
	.ocultar-en-moviles:focus::before,
	.ocultar-en-moviles:focus::after, 
	.ocultar-en-moviles:active{
		display: none;
	}
	
}