body, div, li, span, p, input{
	font-family: roboto, sans-serif;
	color: rgb(255,255,255);
}

html, body, .homescreen {
    overflow-x: hidden;
}

a{
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, ul{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type:none;
}

@media (max-width: 500px) {

	/*Para remover el cuadro azul al tocar 
	un link en Chrome pero solo lo tengan 
	los elementos con la clase "boton"*/
	a, div{
		-webkit-tap-highlight-color:rgba(255,255,255,0);
		-moz-tap-highlight-color:rgba(255,255,255,0);
	}

	/*Todo lo que tenga esta clase no se
	despliega en pantallas menores a 500px"*/

	.ocultar-en-moviles{
		all:unset;
		display: none;
	}
	
}