.evento-abm *{
    text-transform: uppercase;
}

    .evento-abm h1{
        font-size: 1.2em;
    }

    .evento-abm h2{
        font-size: 1em;
        font-weight: 600;
        text-align: left;
    }

    .evento-abm section{
        padding: .5em 1em;
        margin-top: .5em;
        display: flex;
        flex-direction: column;
    }

        .evento-abm section:first-child{
            margin-top: 0 !important;
        }

.titulo{
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
}

    .titulo i{
        margin-right: .75em;
        font-size: .76em;
    }

.top-info *,
.fyh *{
    margin: 0;
}

.top-info{
    background: #2a333c;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
}

    .top-info .nombre{
        margin: .5em 0;
    }

.fyh{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
    padding-bottom: .5em;
}

.periodicidad{
    padding: .65em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 5px;
}

.casillero{
    display: flex;
    align-items: center;
    font-size: .9em;
    text-transform: uppercase;
}

.periodo-doble,
.direccion{
    flex-direction: row !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

    .periodo-doble *{
        margin-right: 1em;
    }

    .direccion *{
        font-size: .8em;
    }

    .direccion span{
        margin: 0 1em;
    }

.input-linea{
    border: none;
    border-bottom: solid 2px white;
    background: transparent;
    font-size: 1em;
}

    .dias{
        width: 2em;
    }

    .dir{
        width: 45%;
    }
    .dir::placeholder{
        font-size: .85em;
    }

select,
option{
    font-size: .9em;
    font-weight: 600;
}

select{
    border: none;
    background-image: linear-gradient(135deg, #04a5f0, #023c75);
    border-radius: .25em;
    padding: .25em;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
}

option{
    color: black;
    border: none;
}

.s-label{
    font-size: .9em;
}

.radio{
    display: flex;
    justify-content: flex-start;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
    .card {
      display: inline-block;
      margin-right: .5em;
    }


.card img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    object-position: center top;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}