.evento-abm *{
    text-transform: uppercase;
}

    .evento-abm h1{
        font-size: 1.2em;
    }

    .evento-abm h2{
        font-size: 1em;
        font-weight: 600;
        text-align: left;
    }

    .evento-abm section{
        padding: .5em 1em;
        margin-top: .5em;
        display: flex;
        flex-direction: column;
    }

        .evento-abm section:first-child{
            margin-top: 0 !important;
        }

.s-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .25em;
}

    .s-flex button,
    .s-flex span{
        margin-top: 10px;
    }

    .s-flex span{
        margin-left: .6em;
        margin-right: .4em;
    }

    .s-flex input{
        width: 40%;
    }


.titulo{
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
}

    .titulo i{
        margin-right: .75em;
        font-size: .76em;
    }

.top-info{
    background: #2a333c;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-top: solid 1px rgba(255,255,255,.1);
    border-bottom: solid 1px rgba(255,255,255,.1);
}

    .top-info .nombre{
        margin-bottom: .5em;
    }

.fyh{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
    padding-bottom: .5em;
}

.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1em;
    padding-left: .25em;
}
    .card {
      flex: 0 0 auto;
      margin-right: 1em;
    }

.card img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    object-position: center top;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

