.evento-botonera{
	display: flex;
	justify-content: space-around;
	padding: 1em 0;
}

	.separador-vertical{
		width: 1px;
		height: 2em;
		background: rgba(255,255,255,.3);
	}

.evento-nombre{
	font-weight: 600;
	font-size: 1.3em;
	padding-bottom: .25em;
}