.dashboard-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 5em 1fr;
    overflow-x: hidden;
}

.detallar {
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2/3;
}

.nav-feed {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    z-index: 1000;
    pointer-events: none;
}

.feed-posts {
    margin-top:3em;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

@media(max-width:500px) {
    .dashboard-screen {
        display: grid;
        grid-template-columns: 1fr;
    }
}