.home{
    background: #221C35;
}

.home-header{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 2em;
    background-image: linear-gradient(to top right, #ff085a, #0877ff);
    background-size: 200%;
}

/*=======================================
Navbar - barra de navegacion (logo + botonera)
=========================================
*/


.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*=======================================
Navbar > logo - imagen - img - okupa
=========================================
*/


.home-logo{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

    .home-logo-img{
        width: 5em;
    }

    .home-logo span{
        margin-left: .5em;
        font-size: 1.5em;
        font-weight: 100;
    }

/*=======================================
Navbar > Botonera - botones
=========================================
*/

.home-botonera{
    display: flex;
    flex-wrap: wrap;
}

    .home-botonera .nav-boton{
        font-weight: 700;
        padding: .5em 1em;
        transition: all 250ms ease;
    }

    .resaltado{
        background: rgba(34,28,53,.8);
        border-radius: .5em;
    }

    .home-botonera a:hover .nav-boton {
        font-size:1.1em;
        padding: 0 .9em;
    }


/*=======================================
Presentacion
=========================================
*/


.home-presentacion{
    display: flex;
    flex-wrap: wrap;
}


.home-intro{
    max-width: 12em;
    font-size: 3em;
    text-align: left;
}

    .home-intro span{
        font-weight: 700;
    }


/*=======================================
Formulario
=========================================
*/

.home-form-container {
    width:100%;
    text-align: left;
}

.home-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.home-label{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1em 0;
}

.home-label h4{
    margin-bottom: .5em;
    font-size: 2em;
    font-weight: 100;
}

.home-label input{
    flex-grow: 1;
    height: 2em;
    color: #1A1A1A;
    padding: 1em;
    border: none;
    border-radius: .8em;
}

.home-btn-buscar{
    width: 10em;
    margin-top: .5em;
    padding: .3em 0;
    border: none;
    border-radius: .4em;
    background: #1F1F1F;
    color: white;
    font-size: 1.5em;
    font-weight: 100;
}

.home-btn-buscar:hover {
    cursor: pointer;
}

.home-datepicker{
    margin-left: 2em;
}


/*=======================================
Burguer Menu- hamburguesa - amvorguesa
=========================================
*/

.btn-burguer{
    font-size: 2em;
    padding-top:.25em;
    border-radius: .2em;
    text-shadow: 0 1px 2px rgba(0,0,0,.8);
    display: none;
}

#burguer{
    display: none;
}


/*=====================================
una atadita con alambre :$
=======================================
*/
.mrhide{
    visibility: hidden;
}




/*=======================================
Media querys
=========================================
*/


@media (max-width: 500px){

    .home-logo{
        margin: unset;
    }

    .btn-burguer{
        display: unset;
        margin: 0 .5em;
    }

    .home-nav{
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .home-botonera{
        width: 100%;
        flex-direction:column;
        align-items: flex-end;
        text-align: right;
        display: none;
    }

    .nav-boton{
        margin:.7em 0;
    }
    
    .home-botonera a:hover .nav-boton {
        font-size: unset;
        padding: .5em 1em;
    }
    
    #burguer:checked + .home-botonera{
          display: flex;  
    }

    .home-datepicker{
        margin-left:.5em;
    }



    .home-intro{
        font-size: 2em;
        margin-bottom: 0; 
    }

    .home-label h4{
        font-size: 1.5em;
    }

}

@media (max-width: 324px){

    .home-presentacion{
        font-size: .5em;
    }

}

@media (max-width: 290px){

    .home-logo{
        display: none;
    }

}
