:root{
    --columnas: 1em 320px 1fr;
}

/* === Vista de Escritorio === */
@media (min-width: 800px){

    .perfil{
        display: grid;
        grid-template-columns: var(--columnas);
    }

    .foto-perfil-movil,
    .foto-perfil-movil-fullscreen,
    .foto-perfil-movil img,
    .foto-perfil-movil-fullscreen img{
        display: none;
    }

    .foto-perfil-escritorio{
        display: unset;
        grid-column: 1 / 2;
        grid-row-start: 1;
        max-width: 100%;
        box-shadow: 0 3px 20px rgba(0,0,0,.8);
    }

    .columna-izquierda{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
        z-index: 10;
    }
    
    .perfil section{
        padding: 1em 0 !important;
    }

    main{
        grid-column: 3 / 4;
        grid-row-start: 2;
        margin: 0 2em;
    }

    .scrolling-container{
        flex-wrap: wrap;
    }

        .scrolling-container .proximoEvento,
        .scrolling-container .articulo{
            margin: 0 .5em .5em 0 !important

        }

}


/* === Vista en dispositivos móviles ===*/
@media(max-width: 799px){
    .perfil{
        display: flex;
        flex-direction: column;
    }

    .foto-perfil-escritorio{
        display: none;
    }

    .foto-perfil-movil,
    .foto-perfil-movil-fullscreen,
    .foto-perfil-movil img,
    .foto-perfil-movil-fullscreen img{
        display: unset;
    }

    .scrolling-container{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

}

/* === Foto de perfil en móviles === */
.foto-perfil-movil,
.foto-perfil-movil-fullscreen,
.foto-perfil-movil img,
.foto-perfil-movil-fullscreen img{
    transition: all .3s ease;
}

.foto-perfil-movil,
.foto-perfil-movil img,
.foto-perfil-movil{
    max-height: 70vh;
}

.foto-perfil-movil-fullscreen,
.foto-perfil-movil-fullscreen img{
    max-height: 110vh;
}

.foto-perfil-movil img,
.foto-perfil-movil-fullscreen img{
    width: 100vw;
}

.foto-perfil-movil img{
    object-position: 0 -3vh;
}

.fp-fullscreen img{
    object-position: 0 0vh;
}

/* === Generales de la página === */
.perfil section{
    padding: 1em;
    border-bottom: solid 1px rgba(255,255,255,.1)
}
    .perfil section h2,
    .perfil section span{
        font-weight: 600;
        font-size: 1em;
        text-align: left;
    }

    .perfil section h2{
        text-shadow: var(--text-shadow);
    }


.scrolling-container{
    display: flex;
    margin-top: .5em;
}



/* ======================================================
Este código añadía una sombra interior a la foto de perfil
en dispositivos móviles, y una animación muy cool cuando
se cambia a FullScreen. Lo descarto porque se laguea un
poquito, pero no estaría nada mal para más adelante!

Instrucciones para que funcione:

1) Debe haber un div con la clase "img-sombra" y 
tiene que estar dentro de .foto-perfil-movil, justo 
por encima del img.

2) Reemplazar todo el código que está marcado como
"Foto de perfil móvil" por el que está acá abajo :B
========================================================*/
/*
.foto-perfil-movil,
.foto-perfil-movil-fullscreen{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

    .foto-perfil-movil,
    .foto-perfil-movil-fullscreen,
    .foto-perfil-movil img,
    .foto-perfil-movil-fullscreen img,
    .img-sombra{
        transition: all .3s ease;
    }

    .foto-perfil-movil,
    .foto-perfil-movil img,
    .foto-perfil-movil .img-sombra{
        max-height: 73vh;
    }

    .foto-perfil-movil-fullscreen,
    .foto-perfil-movil-fullscreen img,
    .foto-perfil-movil-fullscreen .img-sombra{
        max-height: 100vh;
    }

    .foto-perfil-movil img,
    .foto-perfil-movil-fullscreen img,
    .img-sombra{
        width: 100vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .foto-perfil-movil img{
        object-position: 0 -3vh;
    }

    .fp-fullscreen img{
        object-position: 0 0vh;
    }
    
    .img-sombra{
        z-index: 10;
    }

    .foto-perfil-movil .img-sombra{
        box-shadow: inset 0 -1em 3em rgba(0,0,0,1);
    }
    .foto-perfil-movil-fullscreen .img-sombra{
        box-shadow: inset 0 0 0 rgba(0,0,0,0);
    }
========================================================*/


