/*/// 
Foto de perfil 
///*/

.foto-perfil{
	height: 16em;
	width: 16em;
	display: inline-block;
	margin-right: 2em;
	background-image: url('http://nicolasperezphotography.com/img/galerias/88/180315AM-0026-Diego-Peretti_1.jpg');
	background-repeat: no-repeat;
	background-size: 16em;
	background-position: 0 -1em;
	box-shadow: 0 0 1em rgba(0,0,0,0.8);
	border-radius: 360px;
}

/*/// 
Cabecera
///*/

.cabecera{
	display:inline-block;
	margin: 0;
	padding:0;
	vertical-align:top;
	text-align: left;
}

.nombre-de-usuario{
	margin-bottom: .1em;
	color: rgb(255,255,255);
	font-family: Roboto, sans-serif;
	font-size: 2.5em;
	text-shadow: .05em .05em .1em rgba(0,0,0,.5);
}

.estadisticas ul li{
	display: inline-block;
	width: 30%;
	height: inherit;
	margin-bottom: .5em;
}

.estadisticas .cifra, .estadisticas .leyenda{
	width: 30%;
	text-align: justify;
	text-justify: inter-word;
}

.estadisticas .cifra{
	font-size: 1em;
	font-weight: 600;
}

.estadisticas .leyenda{
	font-size:.35em;
}

.lista-etiquetas{
	margin-top: 1em;
}

.etiqueta, .etiqueta-puntos-suspensivos{
	width: inherit;
	height: 1em;
	margin:0 .5em;
	padding: 0.5em 1em;
	display: inline-block;
	background:linear-gradient(0.25turn, #FAAD70, #EB6B85);
	font-size: .8em;
	font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
	border-radius: 1em;
	box-shadow: .1em .1em .3em rgba(0,0,0,0.8);
}


/*Esto es para que solo despliegue
las primeras 5 etiquetas
(cinco incluyendo la de puntos suspendivos)
==============================================
*/
.etiqueta:nth-child(n+4){
		display: none;
}
.etiqueta-puntos-suspensivos{
	width: 2em;
	display: inline-block;
	text-align: center;
}
/*==============================================
*/

.perfil-botonera{
	display: inline-block;
	margin:1em 0;
	padding: 0;
}

.perfil-boton {
	width: 12em;
    margin: 0 .5em;
    padding:1em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border:none;
    border-radius: 2em;
    color: white;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.perfil-boton:active, .etiqueta-puntos-suspensivos:active{
	box-shadow: inset 0 0 5em rgba(255,255,255,.5);
	text-shadow: none;
	}
/*/// 
Mediaquerys
///*/
@media (max-width: 500px) {

	.foto-perfil{
		width: unset;
		height: 80%;
		margin: 0;
		margin-bottom:14em;
		display: block;
		background-size: 22.5em;
		box-shadow: inset 0 -5em 6em rgba(0,0,0,.8);
	}

	.cabecera{
		position: absolute;
		left: .5em;
		bottom: -3.4em;
	}

	.nombre-de-usuario{
		display: unset;
		margin: 0;
	}
	
	.lista-etiquetas{
		margin:unset;
	}

	.etiqueta, .etiqueta-puntos-suspensivos{
		font-size: .7em;
		margin:0 .3em;
	}

}

@media (max-width: 289px) {

}

@media (max-width: 139px) {

}


.reyenador-de-espacio{
	margin:auto;
	max-width: 40em;
}