.registro-screen {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 25em 1fr;
	background:linear-gradient(0.45turn, #FAAD70, #EB6B85);
}

.swipe-registro {
	grid-column: 2 / 3;
	overflow: hidden;
}

.tarjeta-1, .tarjeta-2, .tarjeta-3 {
	width:0;
	transition: 250ms ease;
	animation: aparicion .5s ease-in-out;
}

.tarjeta-1:hover , .tarjeta-2:hover , .tarjeta-3:hover {
	opacity:.6;
}

.swipe-tutorial{
	display: none;
}

@keyframes on-off {
    0% {
        opacity: 0;
        z-index: 1;
    }
    50%{
    	opacity: 1;
    }
    100% {
   		opacity: 0;
        z-index: 1;
    }
}	

@media (max-width: 500px) {

	.registro-screen {
		display: flex;
		grid-template-columns: unset;
	}

	.swipe-registro {
		grid-column: unset;
		width: inherit;
		height: 100vh;
	}

	.swipe-tutorial{
		display: unset;
		opacity: 0;
	    animation: on-off 1.3s;
		position: absolute;
		top: 1em;
		left: 30%;
		z-index: -1;
		font-size: 10em;
	}
}