.circulo,
.circuloActivo{
	font-size: .5em;
	margin: .5em;
	-webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.circulo{
	opacity: .3;
}

.circuloActivo{
	opacity: .8;
}

.usuario-abm{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	height: 100vh;
	align-items: center;
}

.abm-seccion{
	margin: 5vw;
	padding: 5vw;
	background: rgba(255,255,255,.2);
	border-radius:.6em;
}

	.abm-seccion h2,
	.abm-seccion h3{
		margin:1em 0;
	}

	.abm-seccion h2{
		font-weight: 600;
	}

	.abm-seccion h3{
		font-size: .9em;
		font-weight: 400;
	}

	.abm-seccion-cuerpo input,
	.abm-seccion-cuerpo button{
		font-size: 1em;
	}

	.abm-seccion-cuerpo input{
		margin: .3em 0;
	}

	.abm-seccion-cuerpo button{
		margin: .5em 0;
	}

.tyc{
	font-size: .9em;
}

@media (max-width: 321px){
	h2,
	h3{
		font-size: 1.1em;
	}

	input,
	textarea{
		padding: .5em !important;
	}
}