.usuario-abm{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	height: 100vh;
	align-items: center;
	overflow: ;
}

.circulo,
.circuloActivo{
	font-size: .5em;
	margin: .5em;
	-webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.circulo{
	opacity: .3;
}

.circuloActivo{
	opacity: .8;
}

.abm-seccion{
	margin: 5vw;
	padding: 5vw;
	background: rgba(255,255,255,.2);
	border-radius:.6em;
}

	.abm-seccion h2,
	.abm-seccion h3{
		margin: 1em 0;
	}

	.abm-seccion h2{
		font-weight: 600;
	}

	.abm-seccion h3{
		font-size: .9em;
		font-weight: 400;
	}

	.abm-seccion-cuerpo button{
		margin: .5em 0;
	}

	.abm-seccion .subir-planos{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

		.subir-planos .input-contenedor{
			width: 45%;
		}

.tyc{
	font-size: .9em;
}

@media (max-width: 500px){
	.abm-seccion .subir-planos{
		flex-wrap: wrap;
	}

	.subir-planos .input-contenedor{
		width: 100%;
	}
}

@media (max-width: 320px){
	h2,
	h3{
		font-size: 1.1em;
	}
}