:root{
    --icon-width: 2.25em;
    --icon-width-big: 3em;
    --icon-width-small: 1.8em;
}

.enlaces-externos{
    margin-top: 1em;
    padding: .5em 1em 2.5em 1em;
}

.remover{
    font-size: 10pt !important;
    margin-bottom: 4pt;
}

.nuevo-enlace{
    background: grey !important;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3) !important;
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.pagina-oculta,
.pagina-revelada{
    width: 100vw;
    height: 100vh;
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
}

    .pagina-oculta{
        display: none;
    }

    .pagina-revelada{
        display: grid;
        animation: aparecer .35s ease;
        overflow-y: scroll;
    }

    .pagina-oculta-fondo{
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.8);
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        z-index: -1;
    }

    .abm-oculto{
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        padding: 2em;
        background: rgb(97, 101, 104);
        border-radius: .5em;
        box-shadow: var(--box-shadow);
        z-index: 10;
    }

    .cerrar{
        max-width: 18pt;
        align-self: flex-end;
        border: none;
    }

        .cerrar i{
            width: 100%;
            text-align: center;
            font-size: 18pt;
        }

    .enlace-abm h3{
        margin-bottom: 8pt;
    }
    
    .enlace-abm h4{
        margin: 8pt 0;
    }

.iconos-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--icon-width-big));
    grid-gap: 10px;
    gap: 10px;

}

.inner-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .inner-block .leyenda{
        position: absolute;
        margin-top: var(--icon-width-big);
        font-size: 11pt;
    }

.icono{
    width: var(--icon-width-big);
    height: var(--icon-width-big);
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    background: rgb(21, 112, 187);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

    .icono i{
        font-size: 18pt;
    }

.radio-icono{
    display: none;
}

    .radio-icono:checked ~ .icono {
        background: rgb(45, 207, 194);
        }

    .radio-icono:checked ~ .leyenda{
        color: rgb(45, 207, 194);
    } 


@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 768px){

    .pagina-oculta,
    .pagina-revelada{
        grid-template-rows: .5fr 1fr 1fr;
    }

}

@media (max-width: 360px){

    .iconos-contenedor{
        grid-template-columns: repeat(auto-fit, var(--icon-width));
    }

    .icono{
        width: var(--icon-width);
        height: var(--icon-width);
    }

    .icono i{
        font-size: 16pt;
    }

    .inner-block .leyenda{
        margin-top: var(--icon-width);
    }

}


@media (max-width: 320px){

    .iconos-contenedor{
        grid-template-columns: repeat(auto-fit, var(--icon-width-small));
    }

    .icono{
        width: var(--icon-width-small);
        height: var(--icon-width-small);
    }

    .icono i{
        font-size: 12pt;
    }
}