form{
	width: 10em;
}

form label{
	font-weight: bold;
	color: #FFF;
	font-size: 1.2em;
}

form input{
	font-size: 1.2em;
	color: #FFF;
	border-radius: 1em;
	background: none;
}

.coso{
	width: 1em;
	height: 1em;
	background-color: #F12312;
}