.fullscreen-image-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: 2fr 25fr 2fr;
    grid-template-rows: 2fr 25fr 2fr;
    z-index: 5;
    animation: animacion 350ms;
}

.fullscreen-image-inactive img {
    display: none;
    pointer-events: none;
}

.imageContainer {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion 350ms;
}

.fullscreen-image-background img {
    
    pointer-events: none;
    max-height: 80vh;
    
}

@keyframes animacion {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}