.nav-bar{ 
    width: 100%;
    height: 4em;
    display: flex;
    overflow: hidden;
    background-color: #24292E;
}

.nav-bar .logo{
    margin-top: .5em;
    height: 3em;
    margin-right:1em;
    margin-left: 1em;
}

.nav-bar .logo img{
	height: 3em;
    display: inline-block;
    vertical-align: top;
}

.nav-bar .logo p{
	display: inline-block;
    cursor: pointer;
    margin-top: .6em;
    font-weight: 100;
    font-size: 1.3em;
    letter-spacing: .3em;
}

.nav-bar-links{
	height: 3.5em;
    outline: none;
    margin-top: .5em;
    position: absolute;
    right: 1em;
    display: flex;
}

.nav-bar .nav-bar-links a{ 
    display: flex;
}

.boton-registro {
    flex: 1;
	width: 12em;
    height: 2.7em;
    margin: .6em 1em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border:none;
    border-radius: 80px;
    color: white;
    transition: 0.2s ease-in-out;
}

.boton-registro:hover {
    cursor: pointer;
    opacity: 0.5;
    display: block;
}

.nav-bar-titulo {
	margin: 0 0 0 .5em;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
}

@media (max-width: 555px) {

	.nav-bar{
    height:10em; 
	margin-top:0.5em;
	margin-bottom: 1em;
	text-align: center;
    display: inline-block;
	}

    .nav-bar-links{
        position: unset;
        display: inline-block;
    }

    .boton-registro {
        margin: 0.2em;
        transition-property: all;
        transition-delay: 0;
        transition-duration: 0.05s;
        transition-timing-function: ease-in-out;
    }
        
    .boton-registro:hover{
        width: 12em;
        border:none;
    }

    .boton-registro:active{
        box-shadow: inset 0 0 0 6em rgba(255,255,255,0.5);
        padding: 0.5em;
    }

	.nav-bar .logo p{
	padding-top:0.2em;
	}
}

@media (max-width: 238px) {

    .boton-registro{
        width: inherit;
        font-size: 1em;
    }

    .nav-bar .logo p{
        display: none;
    }

}

@media (max-width: 139px) {

    .boton-registro{
        font-size: .5em;
    }
    
    .nav-bar .logo{
        margin: 0;
        padding: 0;
    }

    .nav-bar .logo img{
        display: none;
    }

    .nav-bar .logo p{
        display: inherit;
        font-size: inherit;
    }
}