.nav-bar{ 
    margin: 0;
	display: inline-block;
    text-align: left;
    background-color: #24292E;
    width: 99%;
    padding: 0.5em;
    justify-content: center;
    vertical-align:middle;
}

.nav-bar .logo{
	height: 3em;
    margin-left: 1em;
	overflow: none;
    display: inline-block;
    vertical-align:bottom;
}

.nav-bar .logo img{
	height: 3em;
}

.nav-bar .logo p{
	display: inline-block;
	margin: 0;
	padding:0;
    vertical-align:bottom;
}

.nav-bar-links{
	height: 3.5em;
    display: inline-block;
    outline: none;
    position: absolute;
    vertical-align: middle;
    right: 0;
}

.nav-bar .nav-bar-links a{ 
    display: inline-block; 
}

.boton-registro {
	width: 12em;
    height: 2.3em;
    margin: 0 0.5em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: 80px;
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
    transition: 0.5s ease;
    display: inline-block;
}

.boton-registro:hover {
    cursor: pointer;
    width: 14em;
    display: block;
    border: 1px solid white;
}

.nav-bar-titulo {
	margin: 0 0 0 .5em;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
}

@media (max-width: 675px) {

	.nav-bar{ 
	margin-top:0.5em;
	margin-bottom: 1em;
	display: block;
	text-align: center;
	}

    .nav-bar-links{
        position: unset;
    }

    .boton-registro {
        margin: 0.2em;
        transition-property: all;
        transition-delay: 0;
        transition-duration: 0.05s;
        transition-timing-function: ease-in-out;
    }
        
    .boton-registro:hover{
        width: 12em;
        border:none;
    }

    .boton-registro:active{
        box-shadow: inset 0 0 0 6em rgba(255,255,255,0.5);
        padding: 0.5em;
    }

	.nav-bar .logo p{
	padding-top:0.2em;
	}
}

@media (max-width: 238px) {

    .boton-registro{
        width: inherit;
        font-size: 1em;
    }

    .nav-bar .logo p{
        display: none;
    }

}

@media (max-width: 139px) {

    .boton-registro{
        font-size: .5em;
    }
    
    .nav-bar .logo{
        margin: 0;
        padding: 0;
    }

    .nav-bar .logo img{
        display: none;
    }

    .nav-bar .logo p{
        display: inherit;
        font-size: inherit;
    }
}