.nav-bar{ 
    width: 100vw;
    height: 2.5em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292E;
    position: fixed;
    top:0;
    z-index:1000;

}

.nav-bar .logo{
    height: 3em;
    display: flex;
    align-items: center;
}

.nav-bar .logo img{
	height: 1.8em;
    margin-left: 3em;
}

.nav-bar .logo p{
    margin-left: 1em;
    cursor: pointer;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: .4em;
}

.nav-bar-links{
	height: 3.5em;
    outline: none;
}

.boton-registro {
	width: 12em;
    height: 2.5em;
    background-color: #568DE8;
    border:none;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
}

.boton-registro:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 500px) {

}
