.nav-link {
	display: inline-block;
	float: left;
	margin-left:5em;
	margin-top:5px;
	text-decoration: none;
}

.nav-link-text {
	color: white;
	text-decoration: none;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	transition: 100ms ease;
	width: 100%;
}

.nav-link-text:hover {
	color:lightgray;
}