 .nav-bar-search {
    display: inline-block;
    margin-top: .5em;
}

.nav-bar-search-bar2 {
    flex: 1;
    width: 50vw;
    height: 1.2em;
    margin-top: .6em;
    border-radius: 5px;
    border: none;
    padding: 0.7em;
    color:white;
    background-color: #3F4448;

}
/*
.nav-bar-search-list {
    position: absolute;
    z-index: 30;
    margin-left: 60px;
    width: 66em;
    background-color: rgba(50,50,50,.8);
    height: fit-content;
    padding-left: 1em;
    opacity: 1;
}
*/
.nav-bar-search-list-links li {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1em;
}