.nav-bar-search-bar2 {
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    width: 70%;
    color:white;
    background-color: #3F4448;

}

@media (max-width: 500px) {
    .nav-bar-search {
        width:100%;
    }

    .nav-bar-search-bar2 {
        width: 22em;
    }
}