.comentario{
	display: grid;
	grid-template-columns: 3em 1fr;
	padding: 0 1em;
	margin-bottom: 1em;
}

.comentarioFoto{
	grid-column: 1 / 2;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

.contenidoComentario{
	font-size: 11pt;
	text-align: left;
}

	.contenidoComentario span{
		font-weight: 700 !important;
	}

	.contenidoComentario p{
		font-weight: 100;
	}


.comentarioFecha{
	margin-top: .5em;
	font-size: 9pt;
	opacity: .7;
}
