.etiquetas-contenedor{
    display: flex;
    flex-direction: column;
    border:solid 1px rgba(255,255,255,.75);
    border-radius: .6em;
}

    .etiquetas-contenedor .titulo{
        padding-left: 1em;
        padding-top: .6em;
        margin: 0 !important;
        text-align: left;
        text-transform: none;
        font-size: 12pt;
        font-weight: 400;
    }

    .slk-etiquetas button{
        margin: 1em 0;
    }

.etiquetas{
    display: flex;
    flex-wrap: wrap;
    padding: .6em;
    padding-top: .25em;
}