.etiquetas-contenedor{
    display: flex;
    flex-direction: column;
    border:solid 1px rgba(255,255,255,.75);
    border-radius: .6em;
}

    .etiquetas-contenedor label{
        padding-left: 1em;
        padding-top: .6em;
        text-align: left;
    }

.etiquetas{
    display: flex;
    flex-wrap: wrap;
    padding: .6em;
    padding-top: .25em;
}