:root{
    --size-txt: 5.7em;
    --size-img: 8em;
    --size-img-original: 13em;
    --size-titulo: 7em;
}

/*------------------------------*/

.scrolling-horizontal{
    margin-top: .65em;
    display: grid;
    grid-template-columns: repeat( auto-fit, var(--size-img) );
    gap: 1em;
}

.sh-tarjeta {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: var(--size-img);
}

    .shTarjetaTitulo{
        display: none;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        z-index: 10;
        align-self: flex-end;
        max-height: var(--size-txt);
        max-width: var(--size-titulo);
        padding: .5em;
        padding-top: 1em;
        background: linear-gradient(0deg, #0464be 20%, rgba(0, 0, 0, 0));
        text-align: left;
        font-weight: 600;
        color: rgba(255,255,255,.9);
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .shTarjetaTitulo:empty{
            background: none;
        }

    .sh-tarjeta img{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        width: var(--size-img);
        height: var(--size-img);
        max-height: var(--size-img);
        box-shadow: var(--box-shadow);
    }

        .imgSombra{
            display: none;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            z-index: 20;
        }

    .sh-tarjeta[type="text"]{
        width: var(--size-txt);
        height: var(--size-txt);
        padding: 1em;
        border: solid 2px white;
        border-radius: .65em;
        background: grey;
        box-shadow: var(--box-shadow);
    }

    .sh-tarjeta[type="text"] *{
        font-weight: 600;
    }
        

    .sh-tarjeta[type="img"] .shTarjetaTitulo,
    .sh-tarjeta[type="img"] .imgSombra{
        display: unset;
    }

@media (max-width: 500px){

    .scrolling-horizontal{
        margin-top: .65em;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 1em;
        padding-left: .25em;
    }

    .sh-tarjeta{
        margin-right: .75em;
    }

    .sh-tarjeta[type="img"][size="extraSmall"]{
        border: solid 3px red;
    }
}